script(src='/javascripts/clock.js')
script(type='text/javascript')
  var controller;
  $(document).ready(function() {
    var current = '';
    controller = build(function(state,minute,second) {
      if (current != state) {
        $('#time').attr('class',state);
        $('#controller').html($('#' + state).html());
        
        current = state;
      }

      $('#minute').text(minute);
      $('#second').text(second);

      if (second == 30) {
        controller.synchronize();
      }
    })

    connecting = $('#connecting')
    connecting.show();
    controller.ping(function() {
      controller.synchronize();
      connecting.hide();
    })
  });
  document.body.style.zoom=2

  var audio = new Audio("/sounds/button.wav");

div#clock
  div#time
    span#minute.number 00
    span#second.number 00

  div#controller

div#connecting 
  div Now Connecting...

div(style="display: none;")
  div#ready
    button#button1.button(onclick='audio.play();controller.start();') Start
  div#working
    button#button1.button(onclick='audio.play();controller.stop();') Stop
  div#resting
    button#button1.button(onclick='audio.play();controller.stop();') Stop
