script(src='/javascripts/clock.js')
script(src='/javascripts/clock_controller.js')
script(src='/javascripts/audio.js')
script(src='/javascripts/index.js')
:coffeescript
  $(document).ready( ->
    lycopene.Audio = Audio
    lycopene.io    = io

    window.controller = lycopene.build(lycopene,$)
    document.body.style.zoom=2
  )

div#clock
  div#time
    span#minute.number 00
    span#second.number 00

  div#controller

div#connecting 
  div Now Connecting...

div(style="display: none;")
  div#ready
    button#button1.button(onclick='controller.prepare();controller.start();') Start
  div#working
    button#button1.button(onclick='controller.stop();') Stop
  div#resting
    button#button1.button(onclick='controller.stop();') Stop
