script(src='/javascripts/clock.js')
script(type='text/javascript')
  //
  function AudioWithLoop(url,times) {
    var audio = new Audio(url);
    var times   = times;
    var lap = 1;

    this.play = function() {
      lap = 1;
      audio.play();
    };
    audio.addEventListener('ended',function() {
      if (lap++ < times) {
        audio.play();
      }
    });
  }
  //
  var notify  = new AudioWithLoop("/sounds/notify.wav",3);
  var ding    = new AudioWithLoop("/sounds/ding.wav",3);

  var controller;
  $(document).ready(function() {
    var current = '';
    controller = build(function(state,minute,second) {
      if (current != state) {
        $('#time').attr('class',state);
        $('#controller').html($('#' + state).html());

        console.log(state);
        switch (state) {
        case 'working':notify.play();break;
        case 'resting':ding.play();break;
        }

        current = state;
      }

      $('#minute').text(minute);
      $('#second').text(second);

      if (second == 30) {
        controller.synchronize();
      }
    })

    connecting = $('#connecting')
    connecting.show();
    controller.ping(function() {
      controller.synchronize();
      connecting.hide();
    })
  });
  document.body.style.zoom=2


div#clock
  div#time
    span#minute.number 00
    span#second.number 00

  div#controller

div#connecting 
  div Now Connecting...

div(style="display: none;")
  div#ready
    button#button1.button(onclick='controller.start();') Start
  div#working
    button#button1.button(onclick='controller.stop();') Stop
  div#resting
    button#button1.button(onclick='controller.stop();') Stop
