script(src='/javascripts/clock.js')
script(type='text/javascript')
  var controller;
  $(document).ready(function() {
    controller = build(function(state,minute,second) {
      $('#time').attr('class',state);
      $('#minute').text(minute);
      $('#second').text(second);
    })

    connecting = $('#connecting')
    connecting.show();
    controller.ping(function() {
      controller.synchronize();
      connecting.hide();
    })
  });
  document.body.style.zoom=2

div#clock
  div#time
    span#minute.number 00
    span#second.number 00

  div#controller
    button#start.button(onclick='controller.start();') Start
    button#pause.button(onclick='controller.pause();') Pause

div#connecting 
  div Now Connecting...
