:coffeescript
  window.enter = ->
    window.location.href = "/rooms/#{$('#name').val()}"
div#welcome
  form#enter(onsubmit="enter();return false;")
    input#name(type='text',placeholder='enter room name')
