#content {
  margin: 0 auto;
  width: 320px;
}
#content li {
  color: #fff;
  display: inline-block;
  list-style: none;
}
#content a {
  background-color: #000;
  border: 1px solid #9fb6c8;
  border-radius: 4px;
  margin: 8px;
  padding: 6px;
  display: block;
}
