@import 'nib'

button(base,to,border)
  border:1px solid border
  border-radius: 5px
  font-family:arial,helvetica,sans-serif
  padding: 1px
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3)
  font-weight:bold
  text-align: center
  color: #FFFFFF
  background-color: base
  background-image: linear-gradient(top, base,to)

//
#clock
  margin: 0 auto;  
  width: 320px
  height: 320px
.expand
  padding 160px;
  transform:
    scale(2)

#time
  padding:16px 8px 16px 8px
  border: 1px solid

//state 
.working
  background-color: silver
.resting
  background-color: forestgreen
.ready
  background-color: red
.pausing
  background-color: gold
.abort
  background-color: black

// 
.number
  background-color: #ccc
  border: 1px solid #000
  border-radius: 8px
  box-shadow: 8px 8px 24px #333
  font-size: 72pt
  margin: 0px 8px 0px 8px

// 
#display
  padding:16px 16px 16px 16px
  background-color: gainsboro
  border: 1px solid

#turn
  padding:10px 0px 0px 0px
.turn
  margin: auto
  width: 240px
.label
  font-size: 14pt
  text-align: left
.count
  color: #fff
  background-color: dimgray
  width: 36px
  border-radius: 8px

.button
  font-size: 24pt
  border: 1px solid
  padding:0px 0px 0px 0px
#button1
  width: 240px
  margin: 0px 0px 0px 0px
  border-radius: 4px 4px 4px 4px
#button2left
  width: 120px
  margin: 0px -1px 0px 0px
  border-radius: 4px 0px 0px 4px
#button2right
  width: 120px
  margin: 0px 0px 0px -1px
  border-radius: 0px 4px 4px 0px

#bell
  padding: 8px 4px 8px 4px
  background-color: gainsboro
  border: 1px solid

  span  
    width: 40px
    height: 40px
    cursor: pointer
    display: inline-block
    text-decoration: none
    margin: 0px 8px 0px 8px
  .red
    button #ff9a9a #ff4040 #ff6767
  .green
    button #a9db80 #96c56f #8ed058
  .blue
    button #a5b8da #7089b3 #819bcb 
  .yellow
    button #ffd65e #febf04 #ffc92b
  .push 
    transition 0.5s
    transform scale(0.8)

@keyframes processing
  0%
    color: #fff
  50%
    color: #111
  100%
    color: #fff

#connecting
  width: 100%
  height: 100%
  position: absolute
  top:0px
  left:0px
  z-index: 999
  background-color: #000
  div
    top: 50%
    position:relative
    color: #fff
    animation-name processing
    animation-timing-function ease-in-out
    animation-duration 4s
    animation-iteration-count infinite
