body {
  min-width: 320px;
  text-align: center;
}
a {
  color: #00b7ff;
}
#clock {
  margin: 0 auto;
  width: 320px;
}
.working {
  background-color: #c0c0c0;
}
.resting {
  background-color: #228b22;
}
.pausing {
  background-color: #ffd700;
}
.number {
  font-family: 'Inconsolata', sans-serif;
  background-color: #ccc;
  border: 1px solid #000;
  border-radius: 8px;
  box-shadow: 8px 8px 24px #333;
  font-size: 72pt;
  margin: 0px 8px 0px 8px;
  padding: 8px 8px 8px 8px;
}
