#welcome
  margin:0 auto  
  #enter
    width   :100%
    height  :100%
    position:absolute
    #name
      width    :50%
      top      :45%
      font-size:24pt
      position :relative
      color: #DFE8EF;
      background-color: #000;
      border: 1px solid #9FB6C8;
      border-radius: 4px;
      text-align:center;
